.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(228, 228, 222);
}

.sidebar{
    width: 15%;
    height: 100vh;
    background: rgb(148, 125, 95);
    /* border: 2px solid green; */
    float: left;
    position: fixed;
    padding: 5px;

}

.sidebar img{
    width: 100%;
    height: 20%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.nav{
    width: 100%;
    height: auto;
    /* border: 2px solid blueviolet; */
    padding: 20px 5px;
}

.nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    display: inline-block;
}

.nav ul li:hover{
    text-shadow: 2px 0px 1px black;
}


.mainpage{
    width: 85%;
    height: auto;
    /* border: 2px solid black; */
    float: right;
    padding: 5px;
}
.bg-img{
    width: 100%;
    height: 50vh;

    /* border: 2px solid red; */
}
.details{
    width: 100%;
    height: auto;
    /* border: 2px solid yellow; */
    padding: 5px;
    margin-top: 25px;
}

.details table{
    border: 2px solid black;
    border-spacing: 25px;
}

.coffee-types{
    width: 33%;
    height: 50vh;
    margin: 0px;
    padding: 5px;
    border: 2px solid rgb(148, 125, 95);
    border-radius: 2px;
    margin: 1.5px;
    float: left;
    
}

.coffee-types img{
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
}
.coffee-types h3{
    color: rgb(148, 125, 95);
    margin-bottom: 5px;
}

.coffee-types p {
    color: rgb(57, 46, 32);
    margin-bottom: 5px;
}
.copyright{
    text-align: center;
}
